uvicorn[standard]==0.16.0
fastapi==0.74.1
python-multipart==0.0.5
pydantic[email]==1.9.0
aioredis==1.3.1
requests==2.27.0
asynctest==0.13.0
hiredis==2.0.0
fastapi-jwt-auth==0.5.0
redis==4.1.0
cryptography==36.0.1
fastapi-asyncpg==1.0.1
httpx==0.21.1

SQLAlchemy==1.4.29
asyncpg==0.25.0
alembic==1.7.5
psycopg2==2.9.3
SQLAlchemy-Utils==0.38.2

Flask==2.0.2
Flask-Admin==1.6.0
Flask-SQLAlchemy==2.5.1
Flask-Security==3.0.0
werkzeug==2.0.3

typer==0.4.0

arq==0.22